<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>


    <!--JQuery-UI-->
    <link rel="stylesheet" href="~/lib/jquery/dist/jquery-ui.css" />

    <!--MD Bootstrap-->
    <link rel="stylesheet" href="~/lib/MDB-5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/MDB-5/css/mdb.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


    <!--Font Awesome-->
    <link rel="stylesheet" href="~/lib/fontawesome-5.15.1/css/all.css" />
    <link rel="stylesheet" href="~/lib/fontawesome-5.15.1/css/all.css" />

    <!--Custom-->
    <link rel="stylesheet" href="~/css/main.css" />
</head>

<body>
    <div class="container-fluid bg-white" style="overflow : hidden;">
        <main>
            @RenderBody()
        </main>
    </div>

    <!--Jquery-->
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery-ui.js"></script>
    <script type="text/javascript" src='~/lib/jquery/dist/jquery.transit.js'></script>

    <!--MD Bootstrap-->
    <script type="text/javascript" src="~/lib/MDB-5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/lib/MDB-5/js/mdb.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <!--Custom-->
    <script src="~/js/main.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
